<div class="flex mx-auto w-full md:w-2xl">
    <div class="flex grow bg-yellow-50 border-t-1 border-l-1 border-b-1 border-black">
        <input type="text" class="flex grow w-full border-0 mt-1 mb-1 mr-1 ml-3 active:outline-none focus:outline-none" maxlength="100">
    </div>
    <div class="flex">
        <button class="bg-amber-500 w-full border-t-1 border-r-1 border-b-1 font-semibold py-2 px-8 flex">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
        </button>
    </div>
</div>
